STATUS_APP=DEV
CLOUD_APPS=LOCAL
SECRET_KEY=your_secret_key_here
SECRET_KEY_REQUEST=your_secret_key_request_here
SECRET_KEY_RESPONSE=your_secret_key_response_here
SECRET_KEY_HEADER=your_secret_key_header_here

POSTGRES_DB_USER=postgres
POSTGRES_DB_PASS=postgres
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_DATA=url_shortener_db
POSTGRES_POOL_MIN=1
POSTGRES_POOL_MAX=10

CONNECTION_STRING_REDIS=redis://localhost:6379

BASE_URL=http://localhost:8080
API_VERSION=1.0.0
DEBUG=True
